
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data & artifacts
data/*
!data/.gitkeep
reports/figures/*
reports/tables/*

# OS files
.DS_Store

# Build / dist
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Power BI / Tableau caches
dashboards/*.pbix
dashboards/*.hyper
dashboards/*.twb
dashboards/*.twbx
!data/sample/
